<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie10 lt-ie9 lt-ie8 lt-ie7 ie6"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie10 lt-ie9 lt-ie8 ie7"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie10 lt-ie9 ie8"> <![endif]-->
<!--[if IE 9]>         <html class="no-js lt-ie10 ie9"> <![endif]-->
<!--[if gt IE 9]><!--> <html class="no-js"> <!--<![endif]-->
<head>
  <!--
  ==========================================================================
     Atlantic v4.0.0
     Updated: January 29, 2014
     Website: http://pixelunion.net
     Themes: http://pixelunion.net/themes
  ==========================================================================
  -->

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <title> Account &ndash; Vrai & Oro </title>

  

  <meta name="viewport" content="width=device-width" />
  <link href="//cdn.shopify.com/s/files/1/0355/9829/t/8/assets/favicon.ico?18319" rel="shortcut icon" />
  <link rel="shortcut icon" href="//cdn.shopify.com/s/files/1/0355/9829/t/8/assets/favicon.png?18319" type="image/png" />

  
    <meta property="og:url" content="http://vraiandoro.com"/>
    
     
    <meta property="og:title" content="Account" />
    
    <meta property="og:image" content="//cdn.shopify.com/s/files/1/0355/9829/t/2/assets/logo.png?14501" />

    <meta name="twitter:url" content="http://vraiandoro.com">
    <meta name="twitter:card" content="summary">
     
    <meta name="twitter:title" content="Account" />
    
    <meta name="twitter:image" content="//cdn.shopify.com/s/assets/admin/no-image-1024x1024-2565ddfe3da406f36ed0fe0009620178.gif">
    
  
  
 
  
  
  
  
  
  <!-- Fonts
  ///////////////////////////////////////// -->

  
  

  
  

  
  
    <link href='//fonts.googleapis.com/css?family=Open+Sans:400italic,600italic,700italic,400,700,600' rel='stylesheet' type='text/css'>
  

  
  

  
  


  <!-- Theme CSS
  ///////////////////////////////////////// -->
  <link href="//cdn.shopify.com/s/files/1/0355/9829/t/8/assets/style.css?18319" rel="stylesheet" type="text/css"  media="all"  />


  <!-- Third party JS Assets
  ///////////////////////////////////////// -->
  <script src="//cdn.shopify.com/s/files/1/0355/9829/t/8/assets/modernizr-2.6.2.min.js?18319" type="text/javascript"></script>
  <script src="//cdn.shopify.com/s/files/1/0355/9829/t/8/assets/jquery-1.9.min.js?18319" type="text/javascript"></script>
  <script src="//cdn.shopify.com/s/files/1/0355/9829/t/8/assets/pixelunion-options-select.js?18319" type="text/javascript"></script>
  
  

  
    <script src="//cdn.shopify.com/s/shopify/shopify_common.js?21c6a3587d028f31375e3c963c09ad8d41a34467" type="text/javascript"></script>
    <script src="//cdn.shopify.com/s/shopify/customer_area.js?21c6a3587d028f31375e3c963c09ad8d41a34467" type="text/javascript"></script>
  
  
  
  
  


  <!-- Store object
  ///////////////////////////////////////// -->
  <script type="text/javascript">
    settings = {}
    settings.logo                   = true;
    settings.products               = new Array();
    settings.currency               = 'USD';
    settings.currencyFormat         = "$ {{amount}} USD";
    settings.shippingCalculator     = 'false';
    settings.productImageBorders    = false;
    settings.slideshowPagination    = false;
    settings.autoplaySlideshow      = false;
    settings.autoplayDelay          = '';
    settings.fullsizeProductViewer  = true;
    
    
    
  </script>
  
  

  <script>
//<![CDATA[
      var Shopify = Shopify || {};
      Shopify.shop = "vrai-oro.myshopify.com";
      Shopify.theme = {"name":"Vrai\u0026OroResponseBK","id":8573489,"theme_store_id":null,"role":"main"};

//]]>
</script>



<script id="__st">
//<![CDATA[
var __st={"a":3559829,"offset":-28800,"reqid":"b4b46c0e-c018-47d8-a299-a956eb0f267b","pageurl":"vraiandoro.com/account/login","u":"4ae9a1589413"};
//]]>
</script>
<script>
//<![CDATA[
      (function() {
        var s = document.createElement('script'); s.type = 'text/javascript'; s.async = true;
        s.src = '//cdn.shopify.com/s/javascripts/shopify_stats.js?v=6';
        var x = document.getElementsByTagName('script')[0]; x.parentNode.insertBefore(s, x);
      })();

//]]>
</script>
<script type="text/javascript">var _gaq = _gaq || [];_gaq.push(["_setAccount","UA-47849623-1"]);_gaq.push(["_addDevId","o5cUG"]);_gaq.push(["_setAllowLinker",true]);_gaq.push(["_setDomainName","none"]);_gaq.push(["_setCustomVar"]);try{ga('require', 'displayfeatures');}catch(e){};_gaq.push(["_trackPageview"]);
      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = 'http://stats.g.doubleclick.net/dc.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
    </script><script type="text/javascript" src="//cdn.shopify.com/s/global/ga_urchin_forms.js?21c6a3587d028f31375e3c963c09ad8d41a34467"></script>
  

  <!--[if gte IE 9]>
  <style type="text/css">
    .gradient {
       filter: none !important;
    }
  </style>
  <![endif]-->
  
  <link href='http://fonts.googleapis.com/css?family=Open+Sans:400italic,600italic,700italic,400,300,600,700' rel='stylesheet' type='text/css'>
  
  
  
    <script type="text/javascript">
    window['friendbuy'] = window['friendbuy'] || [];
    window['friendbuy'].push(['site', 'site-95faf0a2-vraiandoro.com']);
    
    
    
      
    (function (f, r, n, d, b, y) {
    b = f.createElement(r), y = f.getElementsByTagName(r)[0];b.async = 1;b.src = n;y.parentNode.insertBefore(b, y);
    })(document, 'script', '//djnf6e5yyirys.cloudfront.net/js/friendbuy.min.js');
    </script>

    <script type='text/javascript'>
      $(document).ready(function() {
        $('#testing').click(function() {//$('.nav-item.last').click(function() {
            $('#friendbuy-btn').click();
          
            return false;
        });
      });
    </script>
<link rel="canonical" href="http://vraiandoro.com/account/login" />
</head> 





<body class="template-customers-login disable-headers  ">
  
  
<!--begin popup -->

  <form id="sendEmail" > 
        
    <div id="at3lb" class="at3lblight" style=""></div>

    <div id="at3win" style="margin-top: 0px; opacity: 1; border:none">
      <div class="at3winwrapper">
        <div class="close" id="closePop">
          <a href="#">x</a>
        </div>
        <div class="containt-tot" style="width: 730px;height: 500px;">
          <div class="email-block em-left">
            <div style="position:absolute">
              <img id="cint-header" src="//cdn.shopify.com/s/files/1/0355/9829/t/8/assets/cinta.jpg?18319" />
            </div>
            
            <div style="position:absolute;bottom:0px;right:0px">
              <img id="cint-footer"  src="//cdn.shopify.com/s/files/1/0355/9829/t/8/assets/cintafooter.jpg?18319" />
            </div>
            <div class="content-left">
              <p>Dear <input class="write-msg"  type="text" id="dead" name="dead"  readonly /> ,</p>
              <p>Looks like <input class="write-msg" type="text" id="like" name="like" readonly /> has</p>
              <p>been eyeing <input class="write-msg"  type="text" id="eyeing" name="eyeing" value="this piece" readonly/>.</p>
              <p>Thought you'd like to know!</p>
              <p>A special hint from the girls</p>
              <p>at Vrai & Oro.</p>
            </div>
          
          </div>
          <div class="email-block em-right">
                <div class="content-right">
                  <h1>Send A Hint</h1>
                  <div style="width:100%;border-top:1px solid #000;border-bottom:1px solid #000;">                    
                    <input class="content-input nameSend sendclick" type="text" placeholder="Recipients Name" id="recName"  name="recName" />
                    <input class="content-input sendclick"  type="text" placeholder="Recipients Email" id="recEmail" name="recEmail" />
                    <input class="content-input nameSend sendclick"  type="text" placeholder="Your Name" id="youName" name="youName" />
                    <input class="content-input sendclick" type="text" placeholder="Your Email" id="youEmail" name="youEmail" />
                  </div>
                            
                  <div class="success" style="float:left;height:30px;width:100px;margin-top:20px;color:green"></div>
                  <input class="btn-email" type="submit" id="btn-send" value="Send" name="btnSend" />          
                  


                </div>
                
          </div>
        </div>
        
        
            

      </div>
    </div>
  </form>
  
  <!---------------------------------------------->
  
  <!---------------------------------------------->
  
   
  
 
  
  <div id="fb-root"></div>
  <script>(function(d, s, id) {
    var js, fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) return;
    js = d.createElement(s); js.id = id;
    js.src = "//connect.facebook.net/en_US/all.js#xfbml=1&appId=187795038002910";
    fjs.parentNode.insertBefore(js, fjs);
  }(document, 'script', 'facebook-jssdk'));</script>
  
  
  <div class="outside-wrap wrapper">  
  
    <header class="main-header-wrap" id="main-header-wrap">
    
      <section class="main-header content-area clearfix" id="main-header-content">
  
        <!-- Action links
        ============================================= -->
        <!-- <div class="action-links clearfix"> -->

      <div id="free-shipping" style="font-style: italic; float: right; font-size: 12px; padding-top: 10px;" >Free shipping on orders over $250</div>
        <div class="store-title">
         
          
          <a href="/" id="main-header-logo">
            <img class='regular-logo' src="//cdn.shopify.com/s/files/1/0355/9829/t/8/assets/logo.png?18319" alt="Introducing fine jewelry without the markups. Founded through quality, simplicity, transparency. ">
            <img class='retina-logo' src="//cdn.shopify.com/s/files/1/0355/9829/t/8/assets/logo-retina.png?18319" alt="Introducing fine jewelry without the markups. Founded through quality, simplicity, transparency. ">
          </a>
          
        </div>
          
          
          
          
          
          
          
          
          
          
  
          <div class="tools">
            
            <ul class="account-nav">
                              
                <li><a class="account-options" href="/account"><label>my account <span class="icon"><</span></label></a>
                  <ul>
                    <li>
                      <a class="account-options" href="/account/register">sign up</a>
                    </li>
                    <li>
                      <a class="account-options" href="/account/login">login</a>
                    </li>
                  </ul>
                </li>                
              
              </ul>
             
          
            
            
            
         
            
            
            
            <!--<a class="search" href="#"><span class="icon">s</span><label>Search</label></a> -->
            <div class="mini-cart-wrap" href="#"><!--<span class="icon">c</span>--><label>bag: <span class="item-count">0</span> items</label>
              <div class="mini-cart account-enabled empty-cart">
                <div class="arrow"></div>
                <div class="mini-cart-items-wrap">
  
                    <p class="no-items">Your cart is currently empty!</p>
  
                    
                </div>
                <div class="options clearfix">
                  <a class="action-button view-cart desaturated" href="/cart">View cart</a>
                  <a class="action-button checkout" href="/checkout">Checkout</a>
                </div>
              </div>
            </div>
  
            
          </div>
  
        <!-- </div> <!-- END OF ACTION LINKS -->
  
       <!-- 
       <div class="search-wrap full">
          <form action="/search" method="post">
            <input class="search-input" name="q" type="text" placeholder="Search" value="">
            <span class="icon">s</span>
          </form>
        </div> -->
  
        <!-- MAIN NAV -->      
        <!-- Compact navigation
      ============================================= -->
      <nav class="compact bordered light account-enabled">
        <ul>
          <li class="nav-item dropdown first">
            <span class="border"></span>
            <div><span class="icon">n</span></div>
          </li><li class="nav-item account">
            <a href="/account"><span class="icon">a</span></a>
          </li><li class="nav-item cart">
            <a href="/cart">
              <span class="icon">c</span>
            </a>
          </li><li class="nav-item last search">
            <div><span class="icon">s</span></div>
          </li><li class="search-outer-wrap">
            <div class="search-wrap">
              <form action="/search" method="post">
                <input class="search-input" name="q" type="text" placeholder="Search" value="">
                <span class="icon">s</span>
              </form>
            </div>
          </li>
        </ul>
      </nav>


      <!-- Full navigation
      ============================================= -->
      <nav class="full bordered light">

        <!-- Main nav
        ++++++++++++++++++++++++++++ -->
        <ul>

          <li class="nav-item first  has-mega-nav   ">

            

            
            

            
            

              <span class="border"></span>
              <a class="label" href="/collections/all">
              
                Shop
              
            <span class="icon"><</span></a>

              
          </li><li class="nav-item      dropdown">

            

            
            

            
            

              <span class="border"></span>
              <a class="label" href="/pages/about">
              
                About
              
            <span class="icon"><</span></a>

              

                <!-- Simple dropdown: primary
                ++++++++++++++++++++++++++++ -->
                <ul class="dropdown-wrap primary">
                  

                    
                    
                    

                    <li class="dropdown-item first ">
                      <a href="/pages/about"><span class="label">About Us</span></a>

                      
                    </li>

                  

                    
                    
                    

                    <li class="dropdown-item  last">
                      <a href="/pages/values"><span class="label">Values</span></a>

                      
                    </li>

                  
                </ul>
                <!-- ++++++++++++++++++++++++++++ -->

              
          </li><li class="nav-item      ">

            

            
            

            
            

              
              <a class="label" href="/pages/cest-vrai">
              
                C'est Vrai
              
            </a>

              
          </li><li class="nav-item  last    ">

            

            
            

            
            

              
              <a class="label" href="/pages/contact">
              
                Contact
              
            </a>

              
          </li>
        </ul>
        <!-- ++++++++++++++++++++++++++++ -->

      </nav>
        
      </section>
    
    
    <!-- MOBILE NAV -->
    <!-- Mobile navigation
    ============================================= -->
    <section class="mobile-dropdown light">
      <ul class="list primary">
        

          

          

          
          

          
          

          <li class="list-item first  dropdown">
            <a href="/collections/all">
            
              Shop
            
          <span class="icon"></span></a>

            

              <ul class="list secondary">

                
                  <li class="list-item dropdown">
                    <a href="">Collection<span class="icon"></span></a>
                    <ul class="list tertiary">
                      

                        
                        
                        

                        <li class="list-item ">
                          <a href="/pages/cest-vrai">C'est Vrai</a>

                          

                        </li>

                      

                        
                        
                        

                        <li class="list-item ">
                          <a href="/collections/basics">Basics</a>

                          

                        </li>

                      

                        
                        
                        

                        <li class="list-item ">
                          <a href="/collections/solitaire">Solitaire</a>

                          

                        </li>

                      

                        
                        
                        

                        <li class="list-item ">
                          <a href="/collections/baguette">Baguette</a>

                          

                        </li>

                      

                        
                        
                        

                        <li class="list-item ">
                          <a href="/collections/pave">Pavé</a>

                          

                        </li>

                      
                    </ul>
                  </li>
                

                
                  <li class="list-item dropdown">
                    <a href="">Category<span class="icon"></span></a>
                    <ul class="list tertiary">
                      

                        
                        
                        

                        <li class="list-item ">
                          <a href="/collections/all">Shop All</a>

                          

                        </li>

                      

                        
                        
                        

                        <li class="list-item ">
                          <a href="/collections/necklaces">Necklaces</a>

                          

                        </li>

                      

                        
                        
                        

                        <li class="list-item ">
                          <a href="/collections/rings">Rings</a>

                          

                        </li>

                      

                        
                        
                        

                        <li class="list-item ">
                          <a href="/collections/earrings">Earrings</a>

                          

                        </li>

                      

                        
                        
                        

                        <li class="list-item ">
                          <a href="/collections/bracelets">Bracelets</a>

                          

                        </li>

                      

                        
                        
                        

                        <li class="list-item ">
                          <a href="/products/gift-card">Gift Cards</a>

                          

                        </li>

                      
                    </ul>
                  </li>
                

                

              </ul>

            

            

          </li>

        

          

          

          
          

          
          

          <li class="list-item   dropdown">
            <a href="/pages/about">
            
              About
            
          <span class="icon"></span></a>

            

            

              <ul class="list secondary">
                

                  
                  
                  

                  <li class="list-item ">
                    <a href="/pages/about">About Us</a>

                    

                  </li>

                

                  
                  
                  

                  <li class="list-item ">
                    <a href="/pages/values">Values</a>

                    

                  </li>

                
              </ul>

            

          </li>

        

          

          

          
          

          
          

          <li class="list-item   ">
            <a href="/pages/cest-vrai">
            
              C'est Vrai
            
          </a>

            

            

          </li>

        

          

          

          
          

          
          

          <li class="list-item  last ">
            <a href="/pages/contact">
            
              Contact
            
          </a>

            

            

          </li>

        
      </ul>
    </section>

    
    
    
    <!-- MEGA NAV -->
    
      
      
      
  
      
  
      
  
      
  
      <!-- Mega navigation
      ============================================= -->
      <section class="mega-nav light">
        <div class="mega-nav-wrap content-area">
  
            <!-- Main mega list
            ++++++++++++++++++++++++++++ -->
            <ul class="main-list mega-nav-list clearfix">
              
              <li class="list first clearfix">
  
                <h2 class="label">
                  Collection
                </h2>
                <ul data-list="collection" class="list-wrap">
                  
  
                    
                      
                      
                      
  
                      <li class="list-item one-column"><a data-category="cest-vrai" class="item " href="/pages/cest-vrai">C'est Vrai</a></li>
                    
  
                  
  
                    
                      
                      
                      
  
                      <li class="list-item one-column"><a data-category="basics" class="item " href="/collections/basics">Basics</a></li>
                    
  
                  
  
                    
                      
                      
                      
  
                      <li class="list-item one-column"><a data-category="solitaire" class="item " href="/collections/solitaire">Solitaire</a></li>
                    
  
                  
  
                    
                      
                      
                      
  
                      <li class="list-item one-column"><a data-category="baguette" class="item " href="/collections/baguette">Baguette</a></li>
                    
  
                  
  
                    
                      
                      
                      
  
                      <li class="list-item one-column"><a data-category="pave" class="item " href="/collections/pave">Pavé</a></li>
                    
  
                  
                </ul>
  
              </li><li class="list clearfix">
  
                  <h2 class="label">
                    Category
                  </h2>
                  <ul data-list="category" class="list-wrap">
                    
  
                      
                        
                        
                        
  
                        <li class="list-item one-column"><a data-category="shop-all" class="item " href="/collections/all">Shop All</a></li>
                      
  
                    
  
                      
                        
                        
                        
  
                        <li class="list-item one-column"><a data-category="necklaces" class="item " href="/collections/necklaces">Necklaces</a></li>
                      
  
                    
  
                      
                        
                        
                        
  
                        <li class="list-item one-column"><a data-category="rings" class="item " href="/collections/rings">Rings</a></li>
                      
  
                    
  
                      
                        
                        
                        
  
                        <li class="list-item one-column"><a data-category="earrings" class="item " href="/collections/earrings">Earrings</a></li>
                      
  
                    
  
                      
                        
                        
                        
  
                        <li class="list-item one-column"><a data-category="bracelets" class="item " href="/collections/bracelets">Bracelets</a></li>
                      
  
                    
  
                      
                        
                        
                        
  
                        <li class="list-item one-column"><a data-category="gift-cards" class="item " href="/products/gift-card">Gift Cards</a></li>
                      
  
                    
                  </ul>
  
              </li>
            </ul>
  
            <!-- Expanded mega list
            ++++++++++++++++++++++++++++ -->
            <ul class="expanded-list mega-nav-list clearfix">
  
              <li class="back"></li><li data-list="collection" class="list   clearfix">
  
                <h2 class="label">Collection</h2>
                <ul class="list-wrap">
                  
  
                    
                    
                    
  
                    <li class="list-item">
                      <a data-category="cest-vrai" class="item " href="/pages/cest-vrai">C'est Vrai</a>
                    </li>
  
                  
  
                    
                    
                    
  
                    <li class="list-item">
                      <a data-category="basics" class="item " href="/collections/basics">Basics</a>
                    </li>
  
                  
  
                    
                    
                    
  
                    <li class="list-item">
                      <a data-category="solitaire" class="item " href="/collections/solitaire">Solitaire</a>
                    </li>
  
                  
  
                    
                    
                    
  
                    <li class="list-item">
                      <a data-category="baguette" class="item " href="/collections/baguette">Baguette</a>
                    </li>
  
                  
  
                    
                    
                    
  
                    <li class="list-item">
                      <a data-category="pave" class="item " href="/collections/pave">Pavé</a>
                    </li>
  
                  
                </ul>
  
              </li><li data-list="category" class="list   clearfix">
  
                <h2 class="label">Category</h2>
                <ul class="list-wrap">
                  
  
                    
                    
                    
  
                    <li class="list-item">
                      <a data-category="shop-all" class="item " href="/collections/all">Shop All</a>
                    </li>
  
                  
  
                    
                    
                    
  
                    <li class="list-item">
                      <a data-category="necklaces" class="item " href="/collections/necklaces">Necklaces</a>
                    </li>
  
                  
  
                    
                    
                    
  
                    <li class="list-item">
                      <a data-category="rings" class="item " href="/collections/rings">Rings</a>
                    </li>
  
                  
  
                    
                    
                    
  
                    <li class="list-item">
                      <a data-category="earrings" class="item " href="/collections/earrings">Earrings</a>
                    </li>
  
                  
  
                    
                    
                    
  
                    <li class="list-item">
                      <a data-category="bracelets" class="item " href="/collections/bracelets">Bracelets</a>
                    </li>
  
                  
  
                    
                    
                    
  
                    <li class="list-item">
                      <a data-category="gift-cards" class="item " href="/products/gift-card">Gift Cards</a>
                    </li>
  
                  
                </ul>
  
              </li><li data-list="" class="list   clearfix">
  
                <h2 class="label"></h2>
                <ul class="list-wrap">
                  
                </ul>
  
              </li>
  
            </ul>
  
            <!-- Category mega list
            ++++++++++++++++++++++++++++ -->
            <ul class="category-list mega-nav-list clearfix">
  
              <li class="back"></li>
  
              
              
  
                
                
              
  
                
                
              
  
                
                
              
  
                
                
              
  
                
                
              
  
              
              
  
                
                
              
  
                
                
              
  
                
                
              
  
                
                
              
  
                
                
              
  
                
                
              
  
              
              
  
            </ul>
  
        </div>
      </section>
    
        

    
  </header>
<div class="hero">
    <div class="page-content clearfix">
        <div class="share-wrap">
            <p class="title brandon">Invite Friends & Earn</p>
            <p class="subtitle brandon">Give friends $10 and you'll earn $2<br>for each friend that signs up.</p>
            <div class="copy-link brandon"><%= root_url %>?ref=<%= @user.referral_code %></div>
            <p class="subtitle brandon">Copy & Share</p>
            <% twitter_message = "#fine jewelry, no markups. Just enrolled in @vraiandoro/'s rewards program!." %>
            <div class="social-links">
                <a href="http://twitter.com/share?url=<%= CGI::escape(root_url) %>?ref=<%= CGI::escape(@user.referral_code) %>&text=<%= CGI::escape(twitter_message) %>" class="twit" target="_blank"></a>
                <div class="sep"></div>
                <a href="http://www.facebook.com/sharer/sharer.php?u=<%= CGI::escape(root_url) %>?ref=<%= CGI::escape(@user.referral_code) %>&title=Harrys" class="fb" target="_blank"></a>
            </div>
        </div>  
    </div>
</div>

<% 
    referrals_count = @user.referrals.count

    stops = User::REFERRAL_STEPS

    found = nil

    stops.reverse_each { |stop|
        if stop["count"] <= referrals_count and !found
            stop["selected"] = true
            found = stop
        else
            stop["selected"] = false
        end
    }   
 %>
<div class="prizes <% if found %>prize-<%= found["class"] %><% end %>">
    <div class="page-content">
        <p></p>
        <ul class="products clearfix">
            <li class="title brandon"><p class="friends">Friends Joined</p><p class="rewards">Vrai & Oro Credit</p></li>
            <% stops.each do |stop| %>
                <li class="product brandon <% if stop["selected"] %>selected<% end %> <% if stop["class"] == 'five' %>last<% end %>">
                    <div class="circle"><%= stop["count"] %></div>
                    <div class="sep"></div>
                    <p><%= stop["html"].html_safe %></p>

                    <div class="tooltip">
                        <img src="<%= stop["image"] %>" height="254">
                    </div>
                </li>
            <% end %>
        </ul>

        <div class="progress">
            <div class="mover">
                <div class="bar clearfix"></div>
            </div>
        </div>

        <% 
            words = ''
            if referrals_count == 1
                words = 'friend has'
            elsif 
                words = 'friends have'
            end

        %>

        <% if referrals_count == 0 %>
            <p class="place brandon"><span>No</span> friends have joined...Yet!</p>
        <% else %>
            <p class="place brandon"><span><%= referrals_count %></span> <%= words %> joined</p>
        <% end %>
        <p class="check brandon">Keep checking</p>

       
    </div>
</div>